body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(224, 93, 17) 10%, rgb(221, 27, 137), rgb(104, 76, 230), rgb(111, 163, 231), rgb(83, 218, 153));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #2c3e50;
    padding: 10px;
}

select, input {
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;         
    
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    color: black;
    transition: border-color 0.3s;
}

select:focus, input:focus {
    border-color: #e74c3c;
    outline: none;
}

@media (max-width: 600px) {
    select, input {
        font-size: 0.9rem;
        padding: 8px;
    }
}


.logo {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-bottom: 20px;
}

.container {
    background: #ffffff;
    border-radius: 15px;
    width: 100%;
    max-width: 530px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

h1 {
    font-size: 1.5rem;
    color: #e74c3c;
    margin-bottom: 15px;
    font-weight: 600;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #2ecc71;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(2px);
}

#qrcode {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downloadQRCode {
    margin-top: 20px;
    background-color: #3498db;
    display: none;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#downloadQRCode:hover {
    background-color: #2980b9;
}

.instructions {
    display: none;
    text-align: left;
    font-size: 0.9rem;
    margin-top: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    margin-top: 30px;
    font-size: 0.85rem;
    color: #7f8c8d;
    font-weight: 500;
}

.footer a {
    color: #27ae60;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.3rem;
    }

    input, select {
        font-size: 0.9rem;
        padding: 8px;
    }

    button {
        font-size: 0.9rem;
        padding: 10px;
    }

    .instructions {
        font-size: 0.8rem;
        padding: 8px;
    }

    .footer {
        font-size: 0.75rem;
    }
}
